version: "3.8"

services:
  springboot:
    build: 
     context: ./backend
    image: backend_container
    ports:
      - "8089:8089"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/xyz
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Macky@21
    depends_on:
      - db
    networks:
      - app-network

  react:
    build:
     context: ./frontend
    image: frontend_container
    ports:
      - "3000:3000"
    depends_on:
      - springboot
    networks:
      - app-network

  db:
    image: mysql:8
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: xyz
      MYSQL_PASSWORD: Macky@21
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql_data:

